@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #1a1b1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  max-width: 60%;
  background: linear-gradient(
    270deg,
    #ea00ec,
    #09d2ff,
    #ff7ad7,
    #a800e6,
    #0092d5
  );
  background-size: 1000% 1000%;
  animation: gradient 60s ease infinite;
}
.accordion {
  width: 100%;
  border: 2px solid;
  border-image-source: linear-gradient(
    270deg,
    #ea00ec,
    #09d2ff,
    #ff7ad7,
    #a800e6,
    #0092d5
  );
  border-image-slice: 1;
  padding: 1em;
  transition: all 0.25s ease;
  background: rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: white;
  outline: none;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
.active {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.panel {
  background: rgba(255, 255, 255, 0.2);
  margin: 0 2px;
  box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  padding: 0 1em;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
